app/build/intermediates/
app/build/outputs/apk/debug/
build/intermediates/
.idea/caches/build_file_checksums.ser
.gradle/4.4/fileHashes/
.gradle/4.4/javaCompile/
.gradle/4.4/taskHistory/
.idea/workspace.xml
app/build/
.gradle/buildOutputCleanup/
