<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="81"
    android:versionName="20230430"
    package='com.n1kdo.lotwlook' >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:allowClearUserData="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="false"
        android:resizeableActivity="true"
        android:largeHeap="true"
        tools:ignore="GoogleAppIndexingWarning"
        android:dataExtractionRules="@xml/data_extraction_rules">
        <meta-data android:name="android.max_aspect" android:value="2.1" />
        <activity
            android:name="com.n1kdo.lotwlook.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.n1kdo.lotwlook.PreferencesActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.n1kdo.lotwlook.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.n1kdo.lotwlook.MainActivity" />
        </activity>
        <activity
            android:name="com.n1kdo.lotwlook.SearchActivity"
            android:label="@string/action_search"
            android:parentActivityName="com.n1kdo.lotwlook.MainActivity" >
        </activity>
        <activity
            android:name="com.n1kdo.lotwlook.SearchResultsActivity"
            android:label="@string/searchResults"
            android:parentActivityName="com.n1kdo.lotwlook.SearchActivity" >
        </activity>
        <activity
            android:name="com.n1kdo.lotwlook.ShowQslDetailsActivity"
            android:label="@string/detailsTitle"
            android:parentActivityName="com.n1kdo.lotwlook.MainActivity" >
        </activity>
        <service
            android:name="com.n1kdo.lotwlook.LotwAdifIntentService"
            android:exported="false" />
        <service
            android:name="com.n1kdo.lotwlook.LotwAdifJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
    </application>
</manifest>